.header-logo{
    background-color:crimson;
    color:white;
    font-size:40px;
    padding:30px;
    font-family:serif;
}

.class2 {
    position: absolute;
    top: 200px;
    left: 700px;
    width: 250px;
    height: 250px;
  }